[submodule "AndroidApp"]
	path = AndroidApp
	url = https://abnvanand@github.com/abnvanand/Washeteria
[submodule "backend"]
	path = backend
	url = https://abnvanand@github.com/neerajBarthwal/washeteria-backend.git
